@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #100D0B;
    --card: #FFFFFF;
    --card-foreground: #100D0B;
    --popover: #FFFFFF;
    --popover-foreground: #100D0B;
    --primary: #F97B0C;
    --primary-foreground: #FBFAF3;
    --secondary: #F3F3E8;
    --secondary-foreground: #1B1917;
    --muted: #F3F3E8;
    --muted-foreground: #726F68;
    --accent: #F3F3E8;
    --accent-foreground: #1B1917;
    --destructive: #E84141;
    --destructive-foreground: #FBFAF3;
    --border: #E4E1DB;
    --input: #E4E1DB;
    --ring: #F97B0C;
    --radius: 0.5rem;
    --chart-1: #E45F3A;
    --chart-2: #1E8F86;
    --chart-3: #253F54;
    --chart-4: #F4C35B;
    --chart-5: #F7B660;
    --error: #FF3838;
    --success: #00C48C;
    --warning: #FFA000;
    --info: #007AFF;
  }

  .dark {
    --background: #100D0B;
    --foreground: #FBFAF3;
    --card: #100D0B;
    --card-foreground: #FBFAF3;
    --popover: #100D0B;
    --popover-foreground: #FBFAF3;
    --primary: #E55E0C;
    --primary-foreground: #FBFAF3;
    --secondary: #2A2624;
    --secondary-foreground: #FBFAF3;
    --muted: #2A2624;
    --muted-foreground: #A09B94;
    --accent: #2A2624;
    --accent-foreground: #FBFAF3;
    --destructive: #CF4F4F;
    --destructive-foreground: #FBFAF3;
    --border: #2A2624;
    --input: #2A2624;
    --ring: #E55E0C;
    --chart-1: #3366CC;
    --chart-2: #3DAE91;
    --chart-3: #F7964B;
    --chart-4: #BB4BCE;
    --chart-5: #E94A74;
    --error: #FF3838;
    --success: #00C48C;
    --warning: #FFA000;
    --info: #007AFF;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
