@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #100d0b;
    --card: #ffffff;
    --card-foreground: #100d0b;
    --popover: #ffffff;
    --popover-foreground: #100d0b;
    --primary: #f97b0c;
    --primary-foreground: #fbfaf3;
    --secondary: #f3f3e8;
    --secondary-foreground: #1b1917;
    --muted: #f3f3e8;
    --muted-foreground: #726f68;
    --accent: #f3f3e8;
    --accent-foreground: #1b1917;
    --destructive: #e84141;
    --destructive-foreground: #fbfaf3;
    --border: #e4e1db;
    --input: #e4e1db;
    --ring: #f97b0c;
    --radius: 0.5rem;
    --chart-1: #e45f3a;
    --chart-2: #1e8f86;
    --chart-3: #253f54;
    --chart-4: #f4c35b;
    --chart-5: #f7b660;
    --error: #ff3838;
    --success: #00c48c;
    --warning: #ffa000;
    --info: #007aff;
  }

  .dark {
    --background: #100d0b;
    --foreground: #fbfaf3;
    --card: #100d0b;
    --card-foreground: #fbfaf3;
    --popover: #100d0b;
    --popover-foreground: #fbfaf3;
    --primary: #e55e0c;
    --primary-foreground: #fbfaf3;
    --secondary: #2a2624;
    --secondary-foreground: #fbfaf3;
    --muted: #2a2624;
    --muted-foreground: #a09b94;
    --accent: #2a2624;
    --accent-foreground: #fbfaf3;
    --destructive: #cf4f4f;
    --destructive-foreground: #fbfaf3;
    --border: #2a2624;
    --input: #2a2624;
    --ring: #e55e0c;
    --chart-1: #3366cc;
    --chart-2: #3dae91;
    --chart-3: #f7964b;
    --chart-4: #bb4bce;
    --chart-5: #e94a74;
    --error: #ff3838;
    --success: #00c48c;
    --warning: #ffa000;
    --info: #007aff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 5px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar:horizontal {
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  opacity: 0.5;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}
